body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.monthlyCost {
  text-align: start; 
}
.value {
  display: inline-block;
}
.ansok {
  display: inline-block;
  background-color: #42f5a4;
  width: 90%;
  height: 2.5rem;
  border-radius: 25px;
  color: white;
  text-align: start;
  cursor: pointer;
  border: none;
  margin-top: 8px;
  outline: none;
} 
.rowTitles {
  text-align: start;
  margin: 10px 0;
  padding-left: 16px;
  font-weight: bold;
  font-size: 16px;
}
.monthlyCost {
  padding: 10px;
  margin-left: 7px;
  font-size: 25px;
  font-style: italic;
  letter-spacing: 2px;
}
.indicator {
  
}
.incDecButton {
  border-radius: 100%;
  background-color: #42f5a4;
  color: white;
  margin: 0 15px;
  height: 30px;
  width: 30px;
  border: none;
  font-size: 20px;
  text-align: center;
  line-height: 50%;
  outline: none;
  
}
.inputs {
  height: 20px;
  padding: 7px;
}

#years::after {
  content: 'years'
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
