body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.monthly-cost {
  /* text-align: start; */
}
/* .ansok {
  background-color: #42f5a4;
  width: 30%;
  height: 2.5rem;
  border-radius: 25px;
  color: white;
  text-align: start;
  cursor: pointer;
} */
#years::after {
  content: 'years'
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
